NEXT_PUBLIC_SUPABASE_URL=https://qsqhqyuoqithuaoommsn.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzcWhxeXVvcWl0aHVhb29tbXNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzNTY2NTIsImV4cCI6MjA5NzkzMjY1Mn0.jhNFZU5-X_OZ0WmgmYrJrPsSCmoBnUHOOptRalDkbnk
NEXT_PUBLIC_DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_SERVER_ID=your_discord_server_id
